<!-- nodo socketIO in -->
<script type="text/javascript">
  // RED.nodes.registerType('socketio-in', {
  //   category: "SocketIO",
  //   color: "rgb(215, 215, 160)",
  //   defaults: {
  //     name: {
  //       value: ""
  //     },
  //     rules: {
  //       value: [{
  //         v: ""
  //       }]
  //     },
  //     outputs: {
  //       value: 1
  //     }
  //   },
  //   inputs: 0,
  //   outputs: 1,
  //   icon: "bridge.png",
  //   label: function () {
  //     return this.name || "SocketIO IN";
  //   },
  //   oneditprepare: function () {
  //     var node = this;
  //     $("#node-input-rule-container").css('min-height', '250px').css('min-width', '450px').editableList({
  //       sortable: true,
  //       removable: true,
  //       addItem: function (container, i, opt) {
  //         if (!opt.hasOwnProperty('r')) {
  //           opt.r = {
  //             v: ""
  //           };
  //         }
  //         var row = $('<div/>').appendTo(container);
  //         var label = $('<label/>', {
  //           for: "node-input-rule-value-" + i,
  //           style: "margin-left: 3px;"
  //         }).text("Event " + i).appendTo(row);
  //         var valueField = $('<input/>', {
  //           class: "node-input-rule-value",
  //           type: "text",
  //           style: "margin-left: 5px;"
  //         }).appendTo(row);
  //         valueField.val(opt.r.v);
  //       }
  //     });
  //     for (var i = 0; i < this.rules.length; i++) {
  //       var rule = this.rules[i];
  //       $("#node-input-rule-container").editableList('addItem', {
  //         r: rule,
  //         i: i
  //       });
  //     }
  //   },
  //   oneditsave: function () {
  //     var rules = $("#node-input-rule-container").editableList('items');
  //     var node = this;
  //     node.rules = [];
  //     rules.each(function (i) {
  //       var ruleData = $(this).data('data');
  //       var rule = $(this);
  //       var r = {};
  //       r.v = rule.find(".node-input-rule-value").val();
  //       node.rules.push(r);
  //     });
  //     $("#node-input-outputs").val(node.rules.length);
  //   },
  //   outputLabels: function (i) {
  //     var node = this;
  //     return node.rules[i].v;
  //   },
  // });
</script>

<script type="text/x-red" data-template-name="socketio-in">
  <div class="form-row">
    <label for="node-input-name"><i class="fa fa-tag"></i> Name</label>
    <input type="text" id="node-input-name" placeholder="Name">
  </div>
  <div class="form-row node-input-rule-container-row">
    <ol id="node-input-rule-container"></ol>
  </div>
  <div class="form-row" style="display:none">
    <label for="node-input-outputs"><i class="fa fa-tag"></i> Items</label>
    <input type="text" id="node-input-outputs" placeholder="Items">
  </div>
</script>

<script type="text/x-red" data-help-name="socketio-in">
  <p>Socket IO Input node</p>
</script>

<!-- nodo socketIO out -->
<script type="text/javascript">
  // RED.nodes.registerType('socketio-out', {
  //   category: "SocketIO",
  //   color: "rgb(215, 215, 160)",
  //   defaults: {
  //     name: {
  //       value: ""
  //     }
  //   },
  //   inputs: 1,
  //   outputs: 0,
  //   icon: "bridge.png",
  //   label: function () {
  //     return this.name || "SocketIO OUT";
  //   }
  // });
</script>

<script type="text/x-red" data-template-name="socketio-out">
  <div class="form-row">
    <label for="node-input-name"><i class="fa fa-tag"></i> Name</label>
    <input type="text" id="node-input-name" placeholder="Name">
  </div>
</script>

<script type="text/x-red" data-help-name="socketio-out">
  <p>Socket IO Output node</p>
</script>

<!-- node socketIO on event -->
<script type="text/javascript">
  RED.nodes.registerType('socketio-receive', {
    category: "SocketIO",
    color: "rgb(215, 215, 160)",
    defaults: {
      socketid: {
        value: ""
      },
      swaggerDoc: {
        type: "swagger-doc",
        required: false
      }
    },
    inputs: 0,
    outputs: 1,
    icon: "bridge.png",
    icon: "font-awesome/fa-share",
    label: function () {
      return `ON «${this.socketid && this.socketid.length ? this.socketid : 'no event id'}»`;
    },
    oneditprepare: function() {
      if(!RED.nodes.getType("swagger-doc")){
        $('.row-swagger-doc').hide();
      }
    }
  });
</script>

<script type="text/x-red" data-template-name="socketio-receive">
  <div class="form-row">
    <label for="node-input-socketid"><i class="fa fa-tag"></i> Event name</label>
    <input type="text" id="node-input-socketid" placeholder="Event name">
  </div>
  <div class="form-row row-swagger-doc">
    <label for="node-input-swaggerDoc"><i class="fa fa-file-text-o"></i> <span>Doc</span></label>
    <input type="text" id="node-input-swaggerDoc">
  </div>
</script>

<script type="text/x-red" data-help-name="socketio-receive">
  <p>Socket IO on event node</p>
</script>

<!-- nodo socketIO reply -->
<script type="text/javascript">
  RED.nodes.registerType('socketio-reply', {
    category: "SocketIO",
    color: "rgb(215, 215, 160)",
    defaults: {
      socketid: {
        value: ""
      },
      overwriteroom: {
        value: ""
      },
      room: {
        value: ""
      },
      swaggerDoc: {
        type: "swagger-doc",
        required: false
      }
    },
    inputs: 1,
    outputs: 0,
    icon: "bridge.png",
    icon: "font-awesome/fa-reply",
    label: function () {
      return `REPLY «${this.socketid || 'by setup'}»`;
    },
    oneditprepare: function () {
      var node = this;
      var overwriteroom = $("#node-input-overwriteroom").parent('.form-row');
      var room = $("#node-input-room").parent('.form-row');
      overwriteroom.hide(0);
      room.hide(0);
      $("#node-input-socketid").on('change', function () {
        if ('room' === $(this).val()) {
          overwriteroom.show(0);
        } else {
          overwriteroom.hide(0);
        }
      });
      $("#node-input-overwriteroom").on('change', function () {
        if ($(this).is(":checked")) {
          room.show(0);
        } else {
          room.hide(0);
        }
      });
      if(!RED.nodes.getType("swagger-doc")){
        $('.row-swagger-doc').hide();
      }
    }
  });
</script>

<script type="text/x-red" data-template-name="socketio-reply">
  <div class="form-row">
    <label for="node-input-socketid"><i class="fa fa-tag"></i> Emit socketid</label>
    <select id="node-input-socketid">
      <option value="">by setup</option>
      <option value="broadcast.emit">Broadcast emit</option>
      <option value="emit">Emit</option>
      <option value="room">Room</option>
      <option value="all">All</option>
    </select>
  </div>
  <div class="form-row" style="display:none;">
    <label for="node-input-overwriteroom"><i class="fa fa-tag"></i> Set room</label>
    <input type="checkbox" id="node-input-overwriteroom" style="width:auto">
  </div>
  <div class="form-row" style="display:none;">
    <label for="node-input-room">Room name</label>
    <input type="text" id="node-input-room" placeholder="Room name">
  </div>
  <div class="form-row row-swagger-doc">
    <label for="node-input-swaggerDoc"><i class="fa fa-file-text-o"></i> <span>Doc</span></label>
    <input type="text" id="node-input-swaggerDoc">
  </div>
</script>

<script type="text/x-red" data-help-name="socketio-reply">
  <p>Socket IO reply node</p>
</script>

<!-- node socketIO join, join a room-->
<script type="text/javascript">
  RED.nodes.registerType('socketio-join', {
    category: "SocketIO",
    color: "rgb(215, 215, 160)",
    defaults: {
      overwriteroom: {
        value: ""
      },
      room: {
        value: ""
      }
    },
    inputs: 1,
    outputs: 0,
    icon: "font-awesome/fa-sign-in",
    label: function () {
      return `JOIN ROOM «${this.room || 'by setup'}»`;
    },
    oneditprepare: function () {
      var node = this;
      var room = $("#node-input-room").parent('.form-row');
      room.hide(0);
      $("#node-input-overwriteroom").on('change', function () {
        if ($(this).is(":checked")) {
          room.show(0);
        } else {
          room.hide(0);
        }
      });
    }
  });
</script>

<script type="text/x-red" data-template-name="socketio-join">
  <div class="form-row">
    <label for="node-input-overwriteroom"><i class="fa fa-tag"></i> Set room</label>
    <input type="checkbox" id="node-input-overwriteroom" style="width:auto">
  </div>
  <div class="form-row" style="display:none;">
    <label for="node-input-room">Room name</label>
    <input type="text" id="node-input-room" placeholder="Room name">
  </div>
</script>

<script type="text/x-red" data-help-name="socketio-join">
  <p>Socket IO Join node</p>
</script>

<!-- node socketIO leave, leave a room-->
<script type="text/javascript">
  RED.nodes.registerType('socketio-leave', {
    category: "SocketIO",
    color: "rgb(215, 215, 160)",
    defaults: {
      overwriteroom: {
        value: ""
      },
      room: {
        value: ""
      }
    },
    inputs: 1,
    outputs: 0,
    icon: "font-awesome/fa-sign-out",
    label: function () {
      return `LEAVE ROOM «${this.room || 'by setup'}»`;
    },

    oneditprepare: function () {
      var node = this;
      var room = $("#node-input-room").parent('.form-row');
      room.hide(0);
      $("#node-input-overwriteroom").on('change', function () {
        if ($(this).is(":checked")) {
          room.show(0);
        } else {
          room.hide(0);
        }
      });
    }
  });
</script>

<script type="text/x-red" data-template-name="socketio-leave">
  <div class="form-row">
    <label for="node-input-overwriteroom"><i class="fa fa-tag"></i> Set room</label>
    <input type="checkbox" id="node-input-overwriteroom" style="width:auto">
  </div>
  <div class="form-row" style="display:none;">
    <label for="node-input-room">Room name</label>
    <input type="text" id="node-input-room" placeholder="Room name">
  </div>
</script>

<script type="text/x-red" data-help-name="socketio-leave">
  <p>Socket IO Leave node</p>
</script>